﻿@{

    Layout = null;

}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakher login</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        label.error {
            color: red;
        }
    </style>
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <!-- /theme JS files -->
</head>
<body>

    <div class="loade-fix" style="display:none;">
        <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
        </div>
    </div>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="~/images/awameer.png" alt=""></a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        @*<div class="navbar-collapse collapse" id="navbar-mobile">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog3"></i>
                            <span class="visible-xs-inline-block position-right"> Options</span>
                        </a>
                    </li>
                </ul>
            </div>*@
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container login-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Simple login form -->
                    <form class="login">
                        <div class="panel panel-body login-form">
                            <div class="text-center">
                                <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                                <h5 class="content-group">Login to your account <small class="display-block">Enter your credentials below</small></h5>
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <div class="form-control-feedback">
                                    <i class="icon-user text-muted"></i>
                                </div>
                                <input type="text" class="form-control" placeholder="Username" id="name" name="name">
                            </div>
                            <div class="form-group has-feedback has-feedback-left">
                                <div class="form-control-feedback">
                                    <i class="icon-lock2 text-muted"></i>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" id="pass" name="pass">

                            </div>
                            <div class="form-group">
                                <button type="button" id="btnLogin" class="btn btn-primary btn-block">تسجيل دخول <i class="icon-circle-left2 position-right"></i></button>
                            </div>
                            @*<div class="text-center">
                                    <a href="login_password_recover.html">Forgot password?</a>
                                </div>*@
                        </div>
                    </form>
                    <!-- /simple login form -->
                    <!-- Footer -->
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <script src="~/Scripts/toastr.min.js"></script>
    <input type="hidden" value="@ViewBag.ReturnUrl" id="returnUrl" />


    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/Additional-methods.js"></script>
    <script>
        $(document).ready(function () {

            $(".login").validate({
                rules: {
                    pass: {
                        required: true,
                    },
                    name: {
                        required: true,

                    }

                },
                messages: {
                    pass: "من فضلك ادخل الرقم السري الخاص بك",
                    name: "من فضلك ادخل البريد الالكتروني صحيحا",


                }

            });

            $("#btnLogin").click(function (event) {

                event.preventDefault();
                if ($(".login").valid()) {
                    $.ajax({
                        url: "/Account/Login",
                        dataType: "json",
                        type: "POST",
                        data: {
                            name: $("#name").val(),
                            Password: $("#pass").val(),
                            returnUrl: $("#returnUrl").val()
                        },
                        success: function (data) {
                            if (data.success) {
                                window.location.href = "/Home/Index";
                            } else {
                                $.each(data.errors,
                                   function (i, value) {
                                       toastr.error(value);
                                   });
                            }

                        }
                    })
                }



            });

            $('#name').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $("#btnLogin").click();
                    return false;
                }
            });
            $('#pass').keypress(function (e) {
                var key = e.which;
                if (key == 13)  // the enter key code
                {
                    $("#btnLogin").click();
                    return false;
                }
            });


            $(document).ajaxStart(function () {
                $(".loade-fix").fadeIn(0);
            });
            $(document).ajaxStop(function () {
                $(".loade-fix").fadeOut(0);
            });

        });
    </script>



</body>
</html>
